@tailwind base;
@tailwind components;
@tailwind utilities;


input[type = "text"], input[type = "password"], input[type = "email"], input[type = "number"],  textarea{
    @apply w-full border my-2 py-2 px-3 rounded-2xl;
}

button{
    @apply bg-gray-300;
}

button.primary{
    background-color: "#F5385D" ;
    @apply bg-primary p-2 w-full text-white rounded-2xl;
}

textarea{
    height: 140px;
}

@media (max-width: 768px) {
    .element-to-hide {
      display: none;
    }
    .reduce{
        padding-left: 1px
    }
    .remove-border{
        
        border: 0px;
        box-shadow: 0px 0px 0px 0px;
    }
    .account-nav{
        flex-direction: column;
        padding-right: 20%;
    }
  }